<div class="w-full aspect-square bg-neutral-900 rounded p-4">
  <form class="flex flex-col gap-4">
    <select
      id="product-select"
      name="product"
      class="w-full bg-neutral-800 p-2 rounded appearance-none text-base md:text-lg lg:text-xl font-bold"
    >
      <option value="product1">Product 1</option>
      <option value="product2">Product 2</option>
      <option value="product3">Product 3</option>
    </select>
    <div class="w-fit bg-amber-500 p-2 rounded">
      <p class="uppercase font-bold">category</p>
    </div>
    <div class="w-full flex justify-between">
      <h3>Units Left</h3>
      <p class="font-bold">146</p>
    </div>
    <div class="w-full flex justify-between">
      <h3>Sales this month</h3>
      <p class="font-bold">14</p>
    </div>
    <div class="w-full flex justify-between">
      <h3>Shelf Life</h3>
      <p class="font-bold">6 days</p>
    </div>
    <button class="w-full bg-green-700 p-2 rounded">
      <h2>Reorder</h2>
    </button>
  </form>
</div>
