<div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center mb-4 h-80">
    <h3>
      <span class="bg-black rounded-l-md px-2">Which product</span>
      <br />
      <span class="bg-amber-500 text-black px-2 rounded-md"
        >performed best?</span
      >
    </h3>
    <p>Product 1 generated highest profit of 25000</p>
    <img src="/upstock.png" alt="" class="mx-auto mt-4 h-40 aspect-square" />
  </div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center mb-4 h-80">
    <h3>
      <span class="bg-black rounded-l-md px-2">Which product</span>
      <br />
      <span class="bg-amber-500 text-black px-2 rounded-md"
        >performed worst?</span
      >
    </h3>
    <p>Product 3 generated loss of 8000</p>
    <img src="/downstock.png" alt="" class="mx-auto mt-4 h-48 aspect-square" />
  </div>
  <div
    class="w-full bg-neutral-900 align-middle place-content-evenly rounded p-4 text-center mb-4 h-80"
  >
    <h3>
      <span class="bg-black rounded-l-md px-2">Most optimal</span><span
        class="bg-amber-500 text-black px-2 rounded-md"
      >
        Month?</span
      >
    </h3>
    <p>June was the most optimized month with only 3 restocks</p>
    <img src="/star.png" alt="" class="mx-auto mt-4 h-40 aspect-square" />
  </div>
</div>
