<div class="w-full bg-neutral-900 rounded p-4 text-center">
    <h3>Restock Needed</h3>
    <p>Product 5 will go out of stock in 3 days</p>
  </div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center">
    <h3>Price Change</h3>
    <p>Price of product 3 updated from "300" to "200"</p>
  </div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center">
    <h3>Price Change</h3>
    <p>Price updated from "150" to "250"</p>
  </div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center">
    <h3>Expiry Alert</h3>
    <p>32 units Product 4 will expire in 3 days</p>
  </div>
  <div class="w-full bg-neutral-900 rounded p-4 text-center">
    <h3>Restock Alert</h3>
    <p>100 units of Product 13 added to inventory</p>
  </div>


