---
import Base from "../layout/Base.astro";
import Homeform from "../components/Homeform.astro";
---

<Base title="Aryan's Store | FetchHub" navTitle="Aryan's store">
  <div class="w-full flex flex-col gap-4 mt-20 p-4">
    <Homeform />
  </div>

</Base>
