---
import Base from "../layout/Base.astro";
import StatForm from "../components/StatForm.astro";
---

<Base title="Statistics | Aryan's Store | FetchHub" navTitle="Statistics">
  <div class="w-full flex flex-col gap-4 p-8">
    <StatForm />
  </div>
</Base>
