---
import Base from "../layout/Base.astro";
import Summary from "../components/Summary.astro";
---

<Base title="Annual Report | Aryan's Store | FetchHub" navTitle="Annual Report">
  <div class="w-full flex flex-col gap-4 mt-20 p-4">
   <Summary />
  </div>
</Base>
